  .confirm_title {
  text-align: center;
  margin-bottom: 50px;
}

.container {
  margin-top: 70px;
  margin-bottom: 50px;
}

.margin-b {
  margin-bottom: 30px;
}

.checkout {
  width: 200px;
  margin-left: 160px;
}
